.wrapper-photo-home {
    height: calc(100vh - 90px);
    display: flex;
    justify-content: center;
}

.wrapper-name {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.typing-text {
  white-space: normal; /* IMPORTANT */
  font-size: 25px;
}

.typing-text span {
  display: inline-block;
  opacity: 0;
  animation: letterFade 0.45s ease-out forwards;
}

@keyframes letterFade {
  to {
    opacity: 1;
  }
}
